body{
    background-color: rgb(146, 246, 246);
}
h1{
    color: rgb(65, 150, 224);
    text-align: center;
    font-size: 60px;
    text-decoration: line-through;
    text-decoration-color: rgb(10, 129, 137);
    text-decoration-style: solid;
}
.head2{
    color: rgb(160, 49, 197);
    font-size: 30px;
    text-align: center;
    text-shadow: 15px 12px 10px rgb(89, 89, 180);
    font-style: italic;
}
.para{
    font-style: oblique;
    font-weight: bold;
}
.para1{
    word-spacing: 20px;
    letter-spacing: 2px;
    line-height: 20px;
}